$base-font-size: 1rem;
$font-sizes: (
  '17': 0.34,
  // 主/副标题/长标题（1rem=50px / 0.32rem=16px / 0.3rem=15px / 0.28=14px 以此类推...）
  '16': 0.32,
  '15': 0.3,
  '14': 0.28,
  // 导航栏
  '13': 0.26,
  // 小标题/介绍
  '12': 0.24,
  '11': 0.22,
  '10': 0.2,
  '9': 0.18,
  '8': 0.16,
);

$colors: (
  // 主色调
  'primary': #db9e3f,
  // 热门板块
  'hot': #ff3636,
  // 轮播图小圆点
  'dot': #4b67af,
  // 文章详情页标题
  'blue': #4394e4,
  // 字体
  'white': #fff,
  // 链接
  'grey': #f9f9f9,
  'grey1': #999,
  // 日期
  'grey2': #777,
  // 标题
  'grey3': #343,
  'grey4': #212
);
// 边框颜色
$border-color: map-get($colors, 'grey1');

$flex-jc: (
  'start': flex-start,
  'end': flex-end,
  'center': center,
  'between': space-between,
  'around': space-around,
);
$flex-ai: (
  'start': flex-start,
  'end': flex-end,
  'center': center,
  'stretch': stretch,
);

$base-spacing-size: 1rem;
$spacing-types: (
  'm': margin,
  'p': padding,
);
$spacing-directions: (
  't': top,
  'r': right,
  'l': left,
  'b': bottom,
);
// （1rem=50px / 0.1rem=5px / 0.2rem=10px / 0.3=15px 以此类推...）
$spacing-sizes: (
  '0': 0,
  '1': 0.1,
  '2': 0.2,
  '3': 0.3,
  '4': 0.4,
  '5': 0.5,
);
